@import'@/styles/variables.scss';
@import'@/styles/mixins.scss';

* {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgb(226, 221, 211);
    box-sizing: border-box;
}

html {

    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
}

.header {
    background-color: rgb(114, 142, 194);
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: fixed;
    z-index: 2;
    border-radius: 30px;
    top: 20px;
    left: 10px;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px rgb(176, 176, 176);
}
nav,
ul,
li,
a {
    font-style: none;
    list-style: none;
    font-size: 2vh;
    text-decoration: none;
    color: white;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    transition: 0.4s;
    font-family: "Montserrat", serif;
}/*stylishing header links*/

nav,
ul,
li,
a:hover {
    scale: 1.1;
}/*style the hover of header links */

.eu {
    border-radius: 50%;
    margin: 150px 0  75px;
    box-shadow: 15px 15px 30px rgb(63, 126, 228),
        -15px -15px 30px rgb(63, 126, 228);
        transition: 0.75s;
}/*making photo round, putting on correctly space and adding shadows */
.eu:hover{
    box-shadow: 15px 15px 30px rgb(23, 23, 23),
        -15px -15px 30px rgb(198, 198, 198);
}/*photo hover transition*/
.texto {
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}/*text*/

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}/*adding space between inputs*/

form {
    z-index: 0;
    font-family: "Montserrat", serif;
    width: 400px;
}/*configure font and the widht of form*/

.section {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 120vh;
    box-shadow: 15px 15px 30px rgb(50, 50, 50),
        -15px -15px 30px rgb(59, 59, 59);
    border-radius: 40px;
}/*adjustin parameters, height and widht, adding shadows to make 3d effect*/

form input,
textarea {
    outline: unset;
    padding: 10px;
    width: 400px;
    border-radius: 20px;
    border: solid 2px black;
    transition: 0.5s;
}/*configure text area to not expand and making good looks*/

.section form div label {
    transition: .2s linear;
    position: relative;
    left: 5px;
    background-color: transparent;
    transition: 0.4s;
}/*adjusting the labels of the inputs*/

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;

    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}/*removing borders and adding padding for trhe text inside looks good, and adding some inside shadows*/

.input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}/*adding stylish when the input is clicked*/

.button button {
    color: gray;
    background-color: #ccc;
    width: 60%;
    font-size: 1vh;
    margin-left: 20%;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;  
}/*editing everithing of form button*/

.button button:hover {
    border: 1.5px solid white;
}
.button button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  }
  
.menu {
    background-color: rgb(114, 142, 194);
    display: none;
    position: fixed;
    width: 10px;
    height: 10px;
    top: -7.5px;
    object-fit: contain;

}/*adding a menu button when the page is too thiner*/

.icon {
    background-color: rgb(114, 142, 194);
    color: white;
    transition: 0.5s;
    margin-bottom: 0px;
    object-fit: contain;

}/*editing menu button*/

.icon:hover {
    scale: 1.05;
}

@media only screen and (max-width: 700px) {
    .link {
        display: none;
    }

    .menu {
        display: block;
        position: absolute;
        scale: 2;
    }

    nav,
    ul,
    li,
    a {
        font-size: 2.75vh;
    }

    footer {

        flex-direction: column;
    }

}/*configure when the page is thiner(cellphone)
    making it responsive*/

.close {
    position: absolute;
    left: 80%;
    background-color: rgb(114, 142, 194);
}/*adding a close button for menu part*/

.close .icon {
    width: 20px;
    height: 25px;

}

#but2 {
    display: none;
}

footer {
    align-items: center;
    display: grid;
    place-items: center;
    justify-content: center;
    background-color: rgb(114, 142, 194);
    padding: 40px 30px;

}/*making footer contais correctly the objects*/

iframe {
    margin-top: 40px;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nome{
    font-size: 15vh;
    margin-top: 20%;
    border-radius: 40px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-family: "Montserrat", serif;
    transform: perspective(90deg);
    text-decoration:none;
    transition: 0.6s;
    height: min-content;
}
.nome:hover{
    box-shadow: none;
    text-shadow:  15px 15px 30px rgb(19, 19, 19),
    -15px -15px 30px rgb(20, 20, 20);
    background-color: rgb(226, 221, 211);
}
header{
    display: flex;
    justify-content: space-between;
}
.preto{
    z-index: 2;
    position: fixed;
    display: flex;
    left: 90vw;
    top: 15px;
    transition: 0.5s;
    background-color:rgb(114, 142, 194) ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
}/*configuring div arround wpp icon*/
.preto a{
    z-index: 2;
    position: fixed;
    display: flex;
    left: 90vw;
    top: 15px;
    transition: 0.5s;
    background-color: ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    transition: 0.6s;
}/*configuring link of wpp icon*/
.preto1{
    background-color: transparent;
}
.preto a:hover{
    scale: 1;
    border-radius: 50%;
    background-color: rgb(39, 192, 133);
    display: ;
}
.box4{
    background-color: rgb(114, 142, 194);
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 40px;
    position: fixed;
    z-index: 2;
    border-radius: 30px;
    top: 10px;
    left: 90%;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px rgb(176, 176, 176);
}/*adding a background(navigator) on the wpp icon link*/


